///font
$mainFont:Vazir;


///color

$blue100:#272D47;
$blue200:#1A1C33;
$blue300:#35374B;
$blue400:#2D3554;

$gray100:#898c94;

$red100:#FB1C52;

$purple100:#705EC8;

$green100:#00ab54;

$white:#fff;